*.d
*.so
*.pcm
*.exe
*.root
*.log
*.err
*.out
*.pdf
*.tar
*.tar.gz
*~
*#
*/filelists
*/filelists/*
misc
misc/*
doAnalysis/doUnfolding_backUp
doAnalysis/doUnfolding_backUp/*
RooUnfold-svnTrunk
RooUnfold-svnTrunk/*
readForests/deprecatedCode
readForests/deprecatedCode/*