*.d
*.so
*.pcm
*.exe
*.log
*.err
*.out
*.root
*.tar
*~
*#
misc
misc/*
RooUnfold-svnTrunk_6.27.16
RooUnfold-svnTrunk_6.27.16/*
jetObservables
jetObservables/*
filelists/pp*/old
filelists/pp*/old/*
readFiles/pp*/saved_outputCondor
readFiles/pp*/saved_outputCondor/*
readFiles/pp*/outputCondor
readFiles/pp*/outputCondor/*
readFiles/pp*/codeSnips_forReference
readFiles/pp*/codeSnips_forReference/*
jetWeights/*.txt
jetWeights/test
jetWeights/test/*
DijetResponse/saved_outputCondor
DijetResponse/saved_outputCondor/*
DijetResponse/outputCondor
DijetResponse/outputCondor/*
DijetResponse/codeSnips_forReference
DijetResponse/codeSnips_forReference/*